#goBackBtn{
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 2px solid #0d86f8ec;
  background-color: #10212f;
  color: #0d86f8ec;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.1rem;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
}

#goBackBtn:hover{
  background-color: #0d86f8ec;
  scale: 1.1;
  color:white;
  cursor: pointer;
}

#goBackBtn:hover #arrowBtn {
  content: url("../../assets/icon-back-white.png");
}

#arrowBtn{
  height: 18px;
  transition: all 0.3s ease;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.searchBarCenter {
  padding-top: 220px;
}

.searchBarTop {
  padding-top: 130px;
}

#weather-form {
  display: flex;
  margin-top: 1rem;
  width: 90%;
  gap: 6px;
}

#city {
  border: 4px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0.6rem;
  width: 100%;
  font-size: 1.1rem;
}

#city:focus {
  outline: none;
  border: 4px solid #a1a3a7;
}

#search {
  background-color: #0d86f8ec;
  color: white;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  border: none;
  font-size: 1.1rem;
}

#search:hover {
  cursor: pointer;
  background-color: #3babf6;
}

#results {
  display: block;
  background-color: #d1d5db73;
  width: 90%;
  height: fit-content;
  color: black;
  border: none;
  border-radius: 0.4rem;
}

.btnResults {
  display: flex;
  width: 100%;
  font-size: 1.2rem;
  border-bottom: #d1d5db 2px solid;
  border-left: none;
  border-right: none;
  border-top: none;
  gap: 0;
  padding: 0.5rem;
  color: #65686d;
}

.btnResults:hover {
  color: black;
  cursor: pointer;
}

.noResults {
  font-size: 1.2rem;
  background-color: rgb(240, 235, 235);
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.weatherCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  align-items: center;
  border-radius: 0.6rem;
  border: 2px solid #0d86f8ec;
  padding: 2rem;
  margin: 3rem;
  width: 14rem;
  gap: 0.5rem;
}

#conditions {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  justify-content: space-around;
}

#precipitation,
#wind,
#temperature,
#humidity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#weatherImage {
  width: fit-content;
}

@media (min-width: 600px) {
  #weather-form, #results {
    width: 70%;
  }
}

@media (min-width: 1000px){
  #weather-form, #results {
    width: 50%;
  }
}