.welcomeApp{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.polarBear{
    width: 10rem;
}

#welcomeTitle{
    font-size: 2.2rem;
    margin: 2rem;
    text-align: center;
}

#subtitle{
    font-size: 1.8rem;
    font-weight: normal;
    margin:1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.description{
    margin: 0.3rem;
    text-align: center;
}

.weatherCheck{
    border: #057dcd 2px solid; 
    background-color: #10212f;
    color: white;
    border-radius: 0.5rem; 
    padding: 0.5rem 0.8rem; 
    font-size: 1rem;
    margin: 2rem;
}

.weatherCheck:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.08s ease-in;
    background-color: #057dcd;
}

@media (max-width: 390px){
    .polarBear{
        width: 6rem;
    }
    #welcomeTitle{
        font-size: 1.6rem;
        margin: 1rem;
    }
    #subtitle{
        font-size: 1.2rem;
        margin:0.5rem;
    }
    .description{
        font-size: 0.8rem;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }
    .weatherCheck{
        font-size: 0.8rem;
        padding: 0.3rem 0.4rem;
    }
}
