.welcomeApp{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    overflow: hidden;
}

.fullLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-8%;
    width: 650px;
    height: 450px;
}

#logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#logoOutline{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.mainDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

#welcomeTitle{
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;
}

#subtitle{
    font-size: 1.6rem;
    padding: 0.3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: center;
}

.description{
    font-size: 1rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin: 0.3rem;
    text-align: center;
}

.weatherCheck{
    border: #057dcd 2px solid; 
    background-color: #10212f;
    color: white;
    border-radius: 0.5rem; 
    padding: 0.5rem 0.7rem;
    margin: 2rem;
}

.weatherCheck:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.08s ease-in;
    background-color: #057dcd;
}


@media (max-width: 1920px){
    .welcomeApp{
        gap: 5%;
    }
    .fullLogo{
        width: 500px;
        height: 400px;
    }
    #welcomeTitle{
        font-size: 1.5rem;
    }
    #subtitle{
        font-size: 1.2rem;
    }
    .description{
        font-size: 0.9rem;
    }

}

@media (max-width: 550px){
    .fullLogo{
        width: 400px;
        height: 300px;
    }
}