.footer-app{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: #132737;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}